  <div class="row mb-1">
    <div class="col-md-6 offset-md-3" >
      <div class="list-group">
        <a href="/<%= follow_type.username %>" class="list-group-item list-group-item-action"><%= follow_type.username %></a>
      </div>
    </div>
  </div>